.door-icon {
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 5;
}

.door-icon .halo {
  background: #ffffff;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.door-icon.open .halo {
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(47,0,0,1) 100%);
  animation: rotation 1s infinite linear
}

.door-icon.closed .halo {
  background: rgb(72, 255, 0);
  /* background: linear-gradient(90deg, rgba(74,255,0,1) 0%, rgba(10,115,0,1) 100%); */
}

.door-icon.opening .halo {
  background: rgb(255,239,0);
background: linear-gradient(90deg, rgba(255,239,0,1) 0%, rgba(46,47,0,0) 63%);
  animation: rotation 1s infinite linear
}

.door-icon .halo.rotate {
  
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.door-icon .inner {
  position: absolute;
  z-index: 6;
  top: 10%;
  left: 10%;
  height: 40px;
  width: 40px;
  background: #000000;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  overflow: hidden;
}

.door-icon .inner .icon-image {
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.door-icon.open .inner .icon-image {
 background-image: url("../../assets/img/door_open.png");
}
.door-icon.closed .inner .icon-image {
  background-image: url("../../assets/img/door_closed.png");
}
.door-icon.opening .inner .icon-image {
  background-image: url("../../assets/img/door_open.png");
}

#cam-container {
  width: 100%;
  position: relative;
}
#cam-container #canvas1 {
  width:100%
}

#cam-container .button-container {
  position: absolute;
  top:0px;
  width: 100%;
  height: 100%;
}
