<a href="#" (click)="open(content)">
<div class="door-icon {{ state }}">
  <div class="halo open rotate"></div>
  <div class="inner">
      <div class="icon-image"></div>
  </div>
</div>
</a>
<ng-template #content let-modal>
  <div class="modal-body">
      <div id="cam-container">
          <canvas id="canvas1"></canvas>
          <div class="button-container">
            <div class="container">
              <div class="row align-items-end">
                <div class="col">
                <button class="btn btn-primary">Open</button>
                </div>
              </div>
            </div>
          </div>
          
      </div>
  </div>
</ng-template>